@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-secondary: #facc15;
  --color-background: #0F0F11;
  --color-surface: #1C1C1E;
}

body {
  @apply bg-background text-white antialiased font-sans;
}
